.catbee-list-toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-lg);
  position: sticky;
  top: 0;
  z-index: 6;

  .catbee-list-toolbar-left {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    flex-wrap: wrap;
    flex: 1 1 16rem;
  }

  .catbee-list-toolbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacing-md);
    flex-wrap: wrap;
  }
}
