<ng-template #dialogTemplate>
  <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events -->
  <article
    class="catbee-base-panel catbee-dialog"
    role="dialog"
    aria-modal="true"
    [attr.aria-labelledby]="titleId"
    (click)="$event.stopPropagation()"
    [style]="style()"
  >
    <header class="catbee-dialog-header">
      <h2 class="catbee-dialog-title" [id]="titleId">{{ title() }}</h2>
    </header>

    <div class="catbee-dialog-body">
      <div class="catbee-confirm-dialog-message">
        <p>{{ localMessage() }}</p>
      </div>
    </div>

    <div class="catbee-dialog-footer-actions">
      <button type="button" class="catbee-action-btn" (click)="onCancel()">
        {{ cancelLabel() }}
      </button>

      <button type="button" class="catbee-action-btn" [class.danger]="dangerous()" (click)="onConfirm()">
        {{ confirmLabel() }}
      </button>
    </div>
  </article>
</ng-template>
