:host {
  display: block;
  height: 100%;
}

.catbee-container-list-body {
  display: block;
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  padding: 0;
}

table {
  .col-layer-index {
    width: 3.5rem;
    text-align: center;
  }

  .col-layer-id {
    max-width: 300px;
  }

  .col-layer-size {
    width: 6rem;
    text-align: right;
  }

  .layer-created-by {
    display: block;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
}
