:host {
  display: inline-flex;
}

.table-checkbox {
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid rgb(143 170 193 / 0.5);
  border-radius: 0.25rem;
  background: rgb(9 21 34 / 0.9);
  cursor: pointer;
  position: relative;

  &:checked {
    border-color: rgb(81 203 168 / 0.75);
    background: rgb(24 133 118 / 0.8);

    &::after {
      content: '';
      position: absolute;
      left: 0.35rem;
      top: 0.17rem;
      width: 0.24rem;
      height: 0.48rem;
      border: solid #effff9;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  &:indeterminate::after {
    content: '';
    position: absolute;
    left: 0.3rem;
    top: 0.5rem;
    width: 0.58rem;
    height: 0.15rem;
    background: #effff9;
  }

  &.small {
    width: 1rem;
    height: 1rem;

    &:checked {
      &::after {
        left: 0.3rem;
        top: 0.15rem;
        width: 0.18rem;
        height: 0.36rem;
      }
    }

    &:indeterminate::after {
      left: 0.25rem;
      top: 0.45rem;
      width: 0.48rem;
      height: 0.12rem;
    }
  }

  &.large {
    width: 1.5rem;
    height: 1.5rem;

    &:checked {
      &::after {
        left: 0.4rem;
        top: 0.2rem;
        width: 0.24rem;
        height: 0.48rem;
      }
    }

    &:indeterminate::after {
      left: 0.35rem;
      top: 0.5rem;
      width: 0.58rem;
      height: 0.15rem;
    }
  }
}
