:host {
  display: block;
  height: 100%;
}

tbody tr {
  cursor: pointer;
}

.driver-badge {
  background: var(--badge-total-gradient);
  border-color: var(--badge-total-border);
  color: var(--badge-total-text);
  text-transform: uppercase;
}

.scope-badge {
  background: var(--badge-running-gradient);
  border-color: var(--badge-running-border);
  color: var(--badge-running-text);
  text-transform: uppercase;
}

table.catbee-table .col-actions {
  width: 1rem;
}
