.copy-button {
  $size: 1.5rem;
  width: $size;
  height: $size;
  min-width: unset;
  min-height: unset;
  max-width: unset;
  max-height: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  border-radius: 0.25rem;

  .mat-icon-filled {
    font-size: 1rem;
  }

  &:hover {
    transform: translateY(0px);
  }

  &.is-copied {
    color: var(--color-copy-success);
    border-color: var(--border-color-success);
  }

  &.is-failed {
    color: var(--color-copy-failure);
    border-color: var(--border-color-danger);
  }

  &.small {
    $size: 1.25rem;
    width: $size;
    height: $size;

    .mat-icon-filled {
      font-size: 0.7rem;
    }
  }

  &.large {
    $size: 2rem;
    width: $size;
    height: $size;

    .mat-icon-filled {
      font-size: 1.25rem;
    }
  }
}
